<!doctype html>
<html>
<head>
	<title>Fluid Grid - VeryLess</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/less" href="./demo.less">
	<script type="text/javascript" src="../../less.js"></script>
</head>
<body>
<div class="fluid">
	<div class="row-fall">
		<div class="span span1 first-child"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>

	</div>

	<div class="row-fall">
			<div class="span span1 first-child"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
	</div>

	<div class="row-fall">
		<div class="span span1 first-child"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
	</div>

</div>
</body>
</html>