.main{
	float: left;
	width: 75%;
	background: #333;
}
.leftbar{
	float: right;
	width: 25;
	background: #666;
}

@media screen and (max-device-width: 480px){
	.main{
		float: none;
		width: auto;
		background: #f00;
	}
	.leftbar{
		float: none;
		width: auto;
		background: #f60;
	}
}
@media screen and (min-device-width: 500px) and (max-device-width: 1100px){
	.main{
		background: #000;
		float: left;
	}
	.leftbar{
		background: #000;
		float:right;
	}
}