<!doctype html>
<html>
<head>
	<title>Fluid Grid - VeryLess</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/less" href="./demo.less">
	<script type="text/javascript" src="../../less.js"></script>
</head>
<body>
<div class="fall">
	<div class="row-fluid">
		<div class="span span1 first-child"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
	</div>

	<div class="row-fluid">
		<div class="span span2 first-child"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
	</div>

	<div class="row-fluid">
		<div class="span span3 first-child"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
	</div>

	<div class="row-fluid">
		<div class="span span4 first-child"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
	</div>

	<div class="row-fluid">
		<div class="span span6 first-child"></div>
		<div class="span span6"></div>
		<div class="span span6"></div>
		<div class="span span6"></div>
	</div>

	<div class="row-fluid">
		<div class="span span8 first-child"></div>
		<div class="span span8"></div>
		<div class="span span8"></div>
	</div>

	<div class="row-fluid">
		<div class="span span12 first-child"></div>
		<div class="span span12"></div>
	</div>
</div>
</body>
</html>