<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/less" href="../../src/layout/_950-col24-width30-margin10-grid.less">
	<script type="text/javascript" src="../../lib/less.js"></script>
	<style type="text/css">
		.row{
			margin-bottom: 10px;
		}
		.span{
			background: #999;
			height: 30px;
		}
	</style>
</head>
<body>
<div class="grid">
	<div class="row">
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
	</div>

	<div class="row">
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span3"></div>
	</div>

	<div class="row">
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span4"></div>
	</div>

	<div class="row">
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span3"></div>
	</div>

	<div class="row">
		<div class="span span6"></div>
		<div class="span span6"></div>
		<div class="span span7"></div>
	</div>

	<div class="row">
		<div class="span span9"></div>
		<div class="span span10"></div>
	</div>

	<div class="row">
		<div class="span span19"></div>
	</div>
</div>
</body>
</html>