<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->
	<link rel="stylesheet" type="text/less" href="../../src/layout/_950-col24-width30-margin10-fluid.less">
	<style type="text/css">
		*{margin:0;padding: 0;}
		body{
			font-size: 100%;
			background: #101D3F url(http://img01.taobaocdn.com/tps/i1/T1wPkdXlBeXXbvdq6E-1680-868.jpg) no-repeat 50% 0;
		}
		.row-fluid{
			margin-bottom: 1em;
		}
		.span{
			background: #fff;
			opacity: 0.6;
			height: 3em;
		}
		h1{
			font-size: 1em;
		}
		img{
			max-width: 100%;
		}
		img { -ms-interpolation-mode: bicubic; _width: 100%;}
	</style>
	<link rel="stylesheet" type="text/less" href="../../src/responsive/_responsive-767px-max.less">
	<script type="text/javascript" src="../../lib/less.js"></script>
</head>
<body>
<h1>Fluid Grid from veryLess.org</h1>
<div class="fluid">
	<div class="row-fluid">
		<div class="span span1 first-child"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
		<div class="span span1"></div>
	</div>

	<div class="row-fluid">
		<div class="span span2 first-child"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
		<div class="span span2"></div>
	</div>

	<div class="row-fluid">
		<div class="span span3 first-child"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
		<div class="span span3"></div>
	</div>

	<div class="row-fluid">
		<div class="span span4 first-child"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
		<div class="span span4"></div>
	</div>

	<div class="row-fluid">
		<div class="span span6 first-child"></div>
		<div class="span span6"></div>
		<div class="span span6"></div>
		<div class="span span6"></div>
	</div>

	<div class="row-fluid">
		<div class="span span8 first-child"></div>
		<div class="span span8"></div>
		<div class="span span8"></div>
	</div>

	<div class="row-fluid">
		<div class="span span12 first-child"></div>
		<div class="span span12"></div>
	</div>

	<div class="row-fluid">
		<div class="span span24 first-child">
			<img src="http://img01.taobaocdn.com/tps/i1/T1qd3sXh0eXXbjOnAt-1000-125.jpg" />
		</div>
	</div>
</div>
</body>
</html>